#container {
  width: 800px;
  height: 600px;
  background: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 50px; }

#nike {
  background-color: #111a28;
  width: 700px;
  height: 400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  #nike #block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 50px; }
    #nike #block1 #logo {
      width: 65px;
      height: 33px; }
    #nike #block1 div {
      width: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-item-align: center;
      align-self: center; }
      #nike #block1 div span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 8px;
        background-color: #ffffff; }
        #nike #block1 div span:hover {
          border: 2px solid #7e838b;
          cursor: pointer; }
  #nike #block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #nike #block2 h1 {
      width: 200px;
      height: 44px;
      color: #e1e1e1;
      font-family: "Museo Sans Rounded -100";
      font-size: 24px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.48px; }
    #nike #block2 img {
      width: 100px;
      margin-top: 20px; }
    #nike #block2 p {
      /* Style for "Unisex Ska" */
      width: 200px;
      height: 14px;
      opacity: 0.54;
      color: #e1e1e1;
      font-family: "Museo Sans Rounded -100";
      font-size: 16px;
      font-weight: 100;
      line-height: 26px;
      letter-spacing: 0.28px; }
    #nike #block2 button {
      width: 184px;
      height: 40px;
      border: 1px solid #ffffff;
      background-color: #4c525a;
      opacity: 0.26;
      color: #e1e1e1;
      font-family: "Museo Sans Rounded -100";
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.28px;
      cursor: pointer; }
  #nike select {
    width: 69px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #111a28;
    opacity: 0.26;
    color: #ffffff;
    font-family: "Museo Sans Rounded -100";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.28px;
    margin-right: 5px;
    cursor: pointer; }
  #nike #radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px; }
